<h1>All Astronauts</h1>

<section>
  <% @astronauts.each do |naut| %>
    <section id="naut-<%=naut.id%>">
      <h2><%=naut.name %></h2>
      <p><%=naut.age %></p>
      <p><%=naut.job %></p>
      <p>Missions:</p>
      <% naut.mission_list.each do |title| %>
      <p><%= title %></p>
      <% end %>
      <p>Total Time in Space: <%= naut.total_time_in_space %> days</p>
    </section>
  <% end %>
  <h3>Average Age: <%= Astronaut.average_age %></h3>
</section>
